[submodule "src/SOBRE.ENUM"]
	path = src/SOBRE.ENUM
	url = https://github.com/mathausleth/SOBRE.ENUM.git
[submodule "src/SOBRE.CRYPTO"]
	path = src/SOBRE.CRYPTO
	url = https://github.com/mathausleth/SOBRE.CRYPTO.git
[submodule "src/SOBRE.MEMORY"]
	path = src/SOBRE.MEMORY
	url = https://github.com/mathausleth/SOBRE.MEMORY.git
[submodule "src/SOBRE.FILE"]
	path = src/SOBRE.FILE
	url = https://github.com/mathausleth/SOBRE.FILE.git
[submodule "src/SOBRE.TCP"]
	path = src/SOBRE.TCP
	url = https://github.com/mathausleth/SOBRE.TCP.git
